# fly.toml app configuration file generated for ticketapi on 2023-04-29T21:15:27+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "ticketapi"
primary_region = "sin"

[env]
  PORT = "8080"
  NODE_ENV = "production"
  
[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
